@reference "../globals.css";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.title {
  @apply text-lg font-semibold;
}

.tag {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.tag p {
  @apply rounded-full border border-white/65 bg-white/45 px-2 text-[0.75rem];
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.dateContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.dateContainer p {
  @apply text-sm text-gray-500;
}
