.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  /* padding: 0 1rem; */
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}
